// issues regarding importing normal css into sass
// found while trying to import normalize.css
// https://github.com/webpack-contrib/css-loader/issues/916
// https://github.com/necolas/normalize.css/issues/745#issuecomment-415066830
@import '~normalize.css/normalize';
@import './test'; // test import of css into sass
@import '~bootstrap/scss/bootstrap';
@import './main.scss'; // load main css last to override other styles


@font-face {
  font-family: 'rtRaleway';
  src: url('../webfonts/rtraleway-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../webfonts/rtraleway-regular-webfont.eot?#iefiex') format('embedded-opentype'), /* IE6 - IE8 */
       url('../webfonts/rtraleway-regular-webfont.woff2') format('woff2'), /* Modern Browsers */
       url('../webfonts/rtraleway-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../webfonts/rtraleway-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/rtraleway-regular-webfont.svg') format('svg'); /* Legacy iOS */
}

///////////////////////////////////////////////////////////////////////////
// Reduce entry.scss file-size by importing Bootstrap styles individually
// (https://getbootstrap.com/docs/4.0/getting-started/theming/#importing)
//
// Example:
///////////////////////////////////////////////////////////////////////////
// // Instead of: @import '~bootstrap/scss/bootstrap';
// // required
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
//
// // optional
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/grid";
// @import "~bootstrap/scss/utilities/text";
///////////////////////////////////////////////////////////////////////////
