body {
  background-color: rgb(225, 225, 225);
  font-family: 'rtRaleway';
}

h1 {
  color: rgb(230, 50, 50);
  margin-bottom: 20px;
}

h2 { text-decoration: underline black; }

footer, footer p, .form-group, #status {
  margin-top: 20px;
}
